.autocomplete{
    border: 1px solid #c2c0c0;
    border-radius: 8px;
    width: 100%;
}

.options-container{
    position: absolute;
    width: 100%;
    background: #fff;
    list-style: none;
    padding: 0;
}